<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HTML FORMS</h1>
        <form method="post">
            {% csrf_token %}
            <lable for="un">user name:</lable>
            <input type="text" name="un" id="un"><br>
            <lable for="pw">user name:</lable>
            <input type="password" name="pw" id="pw"><br>
            <input type="submit">
            
        </form>
    </center>
</body>
</html>